@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.active-sidebar-link {
    @apply bg-gray-200 border-r-4 border-yellow-500 font-extrabold text-black;
}

.tag-editor {
    border: none !important; 
    box-shadow: none !important; 
    outline: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
}

.contains-watched {
    background-color: #FDF7E2 !important;
}

.bg-facebook {
    background-color: #3b5998 !important;
}

.bg-facebook-dark {
    background-color: #314A86 !important;
}

.btn-disabled { 
    cursor: not-allowed; 
}

input {
    transition: all 0.3s ease !important;
}

input[type="text"]:focus, textarea:focus {
    outline: none !important;
    box-shadow: 0 0 0 4px #BFDBFE !important;
}

code {
    font-size: small !important;
}

p code {
    background-color: #E3E6E8 !important;
    padding: 4px !important;
    border-radius: 3%;
}

#question-body p {
    margin-bottom: 12px;
}